<!doctype html>
<html ng-app="CooknetApp" id="ng-app">
<head>
  <meta charset="utf-8">
  
  <meta name="description" content="Cooknet">
  <meta name="author" content="Radek Benes">
    
  <title>Cooknet</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <style type="text/css">body { padding-top: 60px; padding-bottom: 20px; }</style>
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  

  <script src="js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>

  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>
  
</head>
<body>  
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ urlFor('home') }}">Cooknet</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{{ urlFor('home') }}recipes">Recipes</a></li>
              <li><a href="{{ urlFor('home') }}about">About</a></li>
              <li><a href="{{ urlFor('home') }}contact">Contact</a></li>
            </ul>            
          </div><!--/.nav-collapse -->          
        </div>
      </div>
    </div>

  <div class="container" ng-view></div>

  
</body>
</html>