<h1>My Recipes</h1>
	<div class="row">
		<div class="span2 offset9 btn">
			<a href="#/new">Add new recipe</a>
		</div>
	</div>
	<div class="row">
	<div class="span12">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tr ng-repeat="recipe in recipes | filter:search | orderBy:'recipe_name'">
			<td><a href="#/edit/{{ recipe.id}}">{{ recipe.recipe_name }}</a></td>
			<td><a href="#/edit/{{ recipe.id }}"><i class="icon-edit"></i></a></td>
			<td><a href="#/delete/{{ recipe.id }}"><i class="icon-remove"></i></a></td>
		</tr>	
	</table>
	</div>
	</div>